﻿
@{
    ViewBag.Title = "FacebookFeed";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '949221635492207',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v7.0'
        });

        var accessToken;
        var uid;

        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {

                this.uid = response.authResponse.userID;
                this.accessToken = response.authResponse.accessToken;
                console.log(response.authResponse.userID);

                FB.api(
                    "/me/feed",
                    //{ "with": "message" },
                    function (resp) {
                        if (resp && !resp.error) {
                            /* handle the result */
                            var responseLength = Object.keys(resp.data).length;

                            //display feed
                            for (i = 0; i < responseLength; i++) {

                                var card = document.createElement("div");
                                card.className = "card mt-2 mr-2 p-3";
                                var para = document.createElement("h5");

                                //var src = photo.src;

                                if (resp.data[i].message != undefined) {

                                    var jsonString = JSON.stringify(resp.data[i].message);
                                    para.innerHTML = jsonString;

                                    document.getElementById("posts").appendChild(card).appendChild(para);
                                }
                                else {

                                    FB.api(
                                        /*"/me/photos?type=uploaded"*/
                                        "/" + resp.data[i].id + "/attachments",
                                        {
                                            "redirect": false,
                                            "height": 200,
                                            "width": 200,
                                            "type": "normal"
                                        },
                                        function (res) {
                                            if (res && !res.error) {
                                                /* handle the result */
                                                //console.log("in pic api response");
                                                var sources = [];
                                                var resLength = Object.keys(res.data).length;

                                                console.log(res);
                                                if (res.data[j].target.id == resp.data[i].id) {
                                                    if (resp.data[i].message != undefined) {
                                                        //show both msg and img
                                                        sources.push(res.data[j].media.image.src);
                                                    }
                                                }

                                                for (j = 0; j < resLength; j++) {
                                                    //var jsonString = JSON.stringify(response.data[i].message);
                                                    //para.innerHTML = jsonString;
                                                    //photo.src = res.data[j].media.image.src;
                                                    sources.push(res.data[j].media.image.src);
                                                    //console.log("appending src");
                                                    //console.log(sources);
                                                }

                                                for (a = 0; a < sources.length; a++) {
                                                    var card = document.createElement("div");
                                                    card.className = "card mt-2 mr-2 p-3";
                                                    var photo = document.createElement("img");
                                                    photo.className = "img-thumbnail";

                                                    photo.src = sources[a];

                                                    document.getElementById("posts").appendChild(card).appendChild(photo);
                                                }

                                            }
                                        },
                                        { access_token: response.authResponse.accessToken }
                                    );



                                } //end else
                                //console.log("helloe");
                                //console.log(sources.length);
                                //for (a = 0; a < sources.length; a++) {
                                //    var photo = document.createElement("img");
                                //    photo.className = "img-thumbnail";

                                //    photo.src = sources[a];

                                //    console.log("souce at position a");
                                //    console.log(sources[a]);

                                //    document.getElementById("posts").appendChild(card).appendChild(photo);
                                //}
                            } //end for
                        }
                    },
                    { access_token: response.authResponse.accessToken }
                );

            } else if (response.status === 'not_authorized') {
                // The user hasn't authorized your application.  They
                // must click the Login button, or you must call FB.login
                // in response to a user gesture, to launch a login dialog.
            } else {
                // The user isn't logged in to Facebook. You can launch a
                // login dialog with a user gesture, but the user may have
                // to log in to Facebook before authorizing your application.
            }
        });
    };

    $(document).ready(function () {
    });

</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
@*<script>
    (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<585702349048670>";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
    <h1>Facebook Like Example</h1>
    <div class="fb-like" data-href="/web-pages/overview" data-layout="standard"
            data-action="like" data-show-faces="true" data-share="true">
    </div>*@
<h1>Facebook Feed</h1>

<div id="posts" class="col-md-4">
</div>

@*<div class="fb-page"
    data-href="https://www.facebook.com/facebook"
    data-width="380"
    data-hide-cover="false"
    data-show-facepile="false"></div>*@
@*YOUR_FB_PAGE_NAME_HERE/posts?fields=picture,full_picture,link,created_time&access_token=YOUR_TOKEN_HERE&limit=3*@
