﻿@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Social Media Aggregator for Twitter and Facebook.</p>
        <hr class="my-4">
        <p class="lead"></p>
        <a class="twitter-share-button" id="tweet" href="https://twitter.com/intent/tweet" data-size="large">Tweet</a>
    </div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active col-6 text-center" id="nav-facebook-tab" data-toggle="tab" href="#nav-facebook" role="tab" aria-controls="nav-facebook" aria-selected="true">Facebook</a>
        <a class="nav-item nav-link col-6 text-center" id="nav-twitter-tab" data-toggle="tab" href="#nav-twitter" role="tab" aria-controls="nav-twitter" aria-selected="false">Twitter</a>
    </div>
</nav>
<div class="tab-content mt-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-facebook" role="tabpanel" aria-labelledby="nav-facebook-tab">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-feed-tab" data-toggle="pill" href="#v-pills-feed" role="tab" aria-controls="v-pills-feed" aria-selected="true">Feed</a>
                    <a class="nav-link" id="v-pills-posts-tab" data-toggle="pill" href="#v-pills-posts" role="tab" aria-controls="v-pills-posts" aria-selected="false">Posts</a>
                    <a class="nav-link" id="v-pills-createPost-tab" data-toggle="pill" href="#v-pills-createPost" role="tab" aria-controls="v-pills-createPost" aria-selected="false">Create Post</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">My Profile</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-feed" role="tabpanel" aria-labelledby="v-pills-feed-tab">
                        <input type="submit" value="Login with Facebook" id="btnFacebook" class="btn btn-primary col-4 text-center" />
                        @*facebook feed content*@
                        <p class="lead">My feed</p>
                        <hr class="my-4">
                        <div id="feed">

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-posts" role="tabpanel" aria-labelledby="v-pills-posts-tab">
                        <p class="lead">Posts</p>
                        <hr class="my-4">
                        <div id="posts">

                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-createPost" role="tabpanel" aria-labelledby="v-pills-createPost-tab">
                        <p class="lead">Post:</p>
                        <hr class="my-4">
                        <textarea class="form-control" id="createPost" rows="5"></textarea>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <p class="lead">My Profile</p>
                        <hr class="my-4">
                        <div id="profile">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-twitter" role="tabpanel" aria-labelledby="nav-twitter-tab">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active btn btn-info" id="v-pills-tfeed-tab" data-toggle="pill" href="#v-pills-tfeed" role="tab" aria-controls="v-pills-tfeed" aria-selected="true">Feed</a>
                    @*<a class="nav-link" id="v-pills-posts-tab" data-toggle="pill" href="#v-pills-posts" role="tab" aria-controls="v-pills-posts" aria-selected="false">Posts</a>*@
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-tfeed" role="tabpanel" aria-labelledby="v-pills-tfeed-tab">
                        @*<input type="submit" value="Login with Twitter" id="btnTwitter" class="btn btn-info col-4 text-center" />*@
                        @*Twitter feed content*@
                        <p class="lead">My feed</p>
                        <hr class="my-4">
                        <div id="tweetbtn">

                        </div>
                        
                        <div id="tfeed">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    $("#tweet").show();
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f){
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));

    twttr.ready(function (twttr) {
        $("#tweet").show();
        //<a class="twitter-share-button" id="tweet" href="https://twitter.com/intent/tweet" data-size="large">Tweet</a>
        twttr.widgets.createTimeline(
            {
                sourceType: "profile",
                screenName: "Abigail68831511"
            },
            document.getElementById("tfeed")
        );
    });

    window.fbAsyncInit = function () {
        FB.init({
            appId: '949221635492207',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v7.0'
        });

        var accessToken;
        var uid;

        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                $('#btnFacebook').hide();
                this.uid = response.authResponse.userID;
                this.accessToken = response.authResponse.accessToken;

                FB.api(
                    "/me/feed?fields=message,created_time,id,picture,comments,attachments",
                    function (resp) {
                        if (resp && !resp.error) {
                            var responseLength = Object.keys(resp.data).length;

                            //display feed
                            for (i = 0; i < responseLength; i++) {

                                var card = document.createElement("div");
                                card.className = "card mt-2 mr-2 p-3";
                                var para = document.createElement("h5");

                                var photo = document.createElement("img");
                                photo.className = "img-thumbnail";
                                photo.style.cssText = "width: 300px; length: 300px";


                                var jsonString = JSON.stringify(resp.data[i].message);
                                para.innerHTML = jsonString;

                                if (resp.data[i].message) {
                                    document.getElementById("feed").appendChild(card).appendChild(para);
                                }

                                if (resp.data[i].attachments) {
                                    var img = resp.data[i].attachments.data[0].media.image.src;
                                    photo.src = img;

                                    document.getElementById("feed").appendChild(card).appendChild(photo);
                                }

                                if (resp.data[i].comments) {
                                    var commentsDiv = document.createElement("div");
                                    var cmts = document.createElement("h3");
                                    cmts.className = "lead";
                                    cmts.innerHTML = "<hr class='my - 4'><b>Comments: </b>";

                                    var getAllPostComments = resp.data[i].comments.data;

                                    for (j = 0; j < getAllPostComments.length; j++) {
                                        var authorOfComment = resp.data[i].comments.data[j].from.name;
                                        var getEachComment = resp.data[i].comments.data[j].message;

                                        commentsDiv.innerHTML = cmts.outerHTML + authorOfComment + ": " + getEachComment;
                                        document.getElementById("feed").appendChild(card).appendChild(commentsDiv);
                                    }
                                }
                            }
                        }
                    },
                    { access_token: response.authResponse.accessToken }
                );

                FB.api(
                    "/me/posts?fields=message,created_time,id,picture,comments,attachments",
                    function (resp) {
                        if (resp && !resp.error) {
                            var responseLength = Object.keys(resp.data).length;

                            //display posts
                            for (i = 0; i < responseLength; i++) {

                                var card = document.createElement("div");
                                card.className = "card mt-2 mr-2 p-3";
                                var para = document.createElement("h5");

                                var photo = document.createElement("img");
                                photo.className = "img-thumbnail";
                                photo.style.cssText = "width: 300px; length: 300px";


                                var jsonString = JSON.stringify(resp.data[i].message);
                                para.innerHTML = jsonString;

                               
                                //div.innerHTML = postMessage + commentsDiv.outerHTML; 

                                if (resp.data[i].message) {
                                    document.getElementById("posts").appendChild(card).appendChild(para);
                                }

                                if (resp.data[i].attachments) {
                                    var img = resp.data[i].attachments.data[0].media.image.src;
                                    photo.src = img;

                                    document.getElementById("posts").appendChild(card).appendChild(photo);
                                }

                                if (resp.data[i].comments) {
                                    var commentsDiv = document.createElement("div");
                                    var cmts = document.createElement("h3");
                                    cmts.className = "lead";
                                    cmts.innerHTML = "<hr class='my - 4'><b>Comments: </b>";

                                    var getAllPostComments = resp.data[i].comments.data;

                                    for (j = 0; j < getAllPostComments.length; j++) {
                                        var authorOfComment = resp.data[i].comments.data[j].from.name;
                                        var getEachComment = resp.data[i].comments.data[j].message;

                                        commentsDiv.innerHTML = cmts.outerHTML + authorOfComment + ": " + getEachComment;
                                        document.getElementById("posts").appendChild(card).appendChild(commentsDiv);
                                    }
                                }
                            }
                        }
                    },
                    { access_token: response.authResponse.accessToken }
                );

                FB.api(
                    "/me?fields=name,first_name,last_name,picture",
                    function (resp) {
                        if (resp && !resp.error) {
                            //display profile

                            var fullname = document.createElement("p");
                            var fullnamestring = resp.name;
                            fullname.innerHTML = "<b>Full Name: </b>" + fullnamestring;

                            document.getElementById("profile").appendChild(fullname);

                            var name = document.createElement("p");
                            var namestring = resp.first_name;
                            name.innerHTML = "<b>Name: </b>" + namestring;

                            document.getElementById("profile").appendChild(name);

                            var surname = document.createElement("p");
                            var surnamestring = resp.last_name;
                            surname.innerHTML = "<b>Surname: </b>" + surnamestring;

                            document.getElementById("profile").appendChild(surname);

                            var photo = document.createElement("img");
                            photo.className = "img-thumbnail";
                            photo.style.cssText = "width: 150px; length: 150px";
                            var img = resp.picture.data.url;
                            photo.src = img;

                            document.getElementById("profile").appendChild(photo);
                            
                        }
                    }
                    //{ access_token: response.authResponse.accessToken }
                );

            } else if (response.status === 'not_authorized') {

            } else {

            }
        });
    };

    $('#btnFacebook').click(function () {
        FB.login(function (response) {
            if (response.authResponse) {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', function (response) {
                    console.log('Good to see you, ' + response.name + '.');
                });
            } else {
                console.log('User cancelled login or did not fully authorize.');
            }
        },
            { scope: 'user_posts user_photos user_link' }
        );
    });

    $('#createPost')

    $(document).ready(function () {
    });

</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

@*<div id="posts" class="col-md-4">
</div>*@