﻿@model WebApi.Models.RegisterBindingModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}


<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="login" id="btnLogin" class="btn btn-default" />
        </div>
    </div>
    <div id="divError" class="alert alert-danger collapse">
        <a id="linkCode" href="#" class="close">&times;</a>
        <div id="divErrorText"></div>
    </div>
</div>

<div>
    @Html.ActionLink("Home", "Index")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
@*<script src="Scripts/jquery-3.4.1.min.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

            $('#btnLogin').click(function () {
                $.ajax({
                    url: '/Token',
                    method: 'POST',
                    contentType: 'application/json',
                    data: {
                        username: $('#Email').val(),
                        password: $('#Password').val(),
                        grant_type: 'password'
                    },
                    success: function (response) {
                        //$('#divErrorText').text(JSON.stringify(response));
                        //$('#divError').show('fade');
                        //console.log('YAYA');

                        sessionStorage.setItem('accessToken', response.access_token);
                        window.location.href = 'Home';
                    },
                    error: function (jqXHR) {
                        //console.text = 'NOPE';
                        //console.log('NOPE');

                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                        //window.location.href = 'Home';
                    }

                });
            });

        });
    </script>
}